.item {
   padding: 20px;
   margin-bottom: 5px;
   margin-right: 5px;
   flex: 1 1 auto;
   white-space: pre-line;
   overflow: hidden;
}
.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   cursor: pointer;
}

.btn {
   flex: 0 0 auto;
}
.container:hover {
   background-color: rgb(243, 243, 243);
}
